<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <title>Sobre a universidade</title>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis, mollitia error ullam dolorum nobis odit doloribus corporis sequi delectus impedit molestias quo sunt consequuntur dolore. Suscipit eius consequuntur iure illum?Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus illum, minus eaque id beatae vitae in, quis, officia quia error possimus voluptas explicabo ad. Adipisci repellat necessitatibus cumque inventore mollitia.</p>

    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eligendi et animi odio earum consectetur saepe cum libero, vitae, vel magnam eius ratione omnis sed voluptates numquam facilis temporibus culpa deleniti. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Beatae, quam repudiandae numquam dolorum nesciunt eos nemo ex magni itaque sequi porro, dolore laboriosam nobis veritatis deleniti et inventore aperiam ab?</p>
</body>
</html>